
{% extends 'template_base.html' %}

{% block content %}
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <!--<div class="clearfix"></div>-->
                <h2>{{ task.title }}</h2>
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="save btn btn-default">Generate configuration</button>
                </form>

                <br/>
            </div>
        </div>
    </div>
{% endblock content %}
