
{% extends 'template_base.html' %}

{% block content %}
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <h2>New task</h2>
                <form method="POST" class="post-form text-center">
                    {% csrf_token %}
                    <!--<div class="spacer"> </div>-->
                    <div class="row">
                        <label for="id_title"><h4> Title: </h4></label>
                    </div>
                    <div class="row">
                        <input id="id_title" maxlength="255" name="title" type="text">
                    </div>

                    <br/>
                    <div class="spacer"></div>
                    <div class=row>
                            <label for="id_link"> <h4> Docker container path: </h4> </label> 
                    </div>
                    <div class="row">
                            <input id="id_link" maxlength="512" name="link" type="text">
                    </div>

                    <br/>
                    <div class="spacer"> </div>
                    <div class="row">
                        <label for="id_description"><h4> Description: </h4> </label> 
                    </div>
                    <div class="row">
                        <textarea cols="40" id="id_description" name="description" rows="10"></textarea>
                    </div>

                    <div class="row">
                        <div class="spacer"> </div>
                        <a type="submit" class="btn btn-default btn-lg mbutton"> <span class="network-name">Upload</span> </a>
                    </div>
                    <!--<button type="submit" class="save btn btn-default">Save</button>-->
                </form>
                <form method="POST" class="post-form">
                    <!--{{ form.as_p }}-->
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
