{% load staticfiles %}
<html>
    <head>
        <title>Docker Hackathon</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

        <style>
            label{
                display:inline-block;
                width:300px;
            }
        </style>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Docker Hackathon</a></h1>
        </div>

        <div class="content container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>